## Docker:
Dockerfile
docker-compose.yml
.dockerignore

## Git:
README.md
.git/
.gitignore

## Configs:
.editorconfig
.prettierrc.json
jsconfig.json

## Node, Yarn:
node_modules/
/dist/
yarn-error.log*

## IDEs:
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

## System:
.DS_Store

## Other:
/designs/
