$lang-color: rgb(24, 188, 114);
$lib-color: rgb(86, 161, 247);
$tech-color: rgb(210, 142, 238);

$lang-color-dark: darken($lang-color, 12%);
$lib-color-dark: darken($lib-color, 18%);
$tech-color-dark: darken($tech-color, 21%);
